
<div class="container-fluid">
  <div class="row d-flex justify-content-end my-3 mr-1">
    <app-pagination-controls [page_number]="page_number" (change)="page_number=$event "></app-pagination-controls>
  </div>
  <div id="characters-row" class="row card-group">
    <div class="col-sm-6 col-md-4 col-xl-2 my-2"  *ngFor="let character of characters | paginate: { itemsPerPage: itemsPerPage, currentPage: page_number } ; let i = index;">
      <app-character-card [id]="calcCardId(i)" [character]=character>a</app-character-card>
    </div>
  </div>
  <div class="row d-flex justify-content-end my-3 mr-1">
    <app-pagination-controls [page_number]="page_number" (click)="scroll('characters-row')" (change)="page_number=$event "></app-pagination-controls>
  </div>
</div>
