<pagination-template class="d-inline" [maxSize]="6" #p="paginationApi" (pageChange)="page_number = $event">

    <div class="d-inline pagination-previous" [class.disabled]="p.isFirstPage()">
        <div class=" d-inline px-2" (click)="p.previous(); changePage()">
            <div class="btn" [ngClass]="!p.isFirstPage()?'btn btn-dark':'btn btn-secondary disabled'">
                <i class="fas fa-chevron-left  my-1"></i>
            </div>
        </div>
    </div>

    <div class=" d-inline" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
        <div class=" d-inline px-1" (click)="p.setCurrent(page.value);changePage();" *ngIf="p.getCurrent() !== page.value">
            <div class="btn btn-dark  my-1 ">
                {{ page.label }}
            </div>
        </div>
        <div class=" d-inline px-1" *ngIf="p.getCurrent() === page.value">
            <div class="btn btn-secondary  my-1">
                {{ page.label }}
            </div>
        </div>
    </div>

    <div class="d-inline pagination-next" [class.disabled]="p.isLastPage()">
        <div class=" d-inline px-2" (click)="!p.isLastPage()?p.next():false;!p.isLastPage()?changePage():false;">
            <div class="btn" [ngClass]="!p.isLastPage()?'btn btn-dark':'btn btn-secondary disabled'">
                <i class="fas fa-chevron-right  my-1"></i>
            </div>
        </div>
    </div>

</pagination-template>